<%= link_to "Back", @project, class: "btn btn-secondary mb-3" %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title mb-4">
      <span>New task</span>
    </h2>

    <%= render "form", task: @task %>
  </div>
</div>

